@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@font-face {
  font-family: "Georgia";
  src: url("./fonts/georgia.eot");
  src: local("☺"), url("./fonts/georgia.woff") format("woff"),
    url("./fonts/georgia.ttf") format("truetype"),
    url("./fonts/georgia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Georgia";
  src: url("./fonts/georgiabold.eot");
  src: local("☺"), url("./fonts/georgiabold.woff") format("woff"),
    url("./fonts/georgiabold.ttf") format("truetype"),
    url("./fonts/georgiabold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("./fonts/AvenirNextLTPro-Demi.eot");
  src: local("☺"), url("./fonts/AvenirNextLTPro-Demi.woff") format("woff"),
    url("./fonts/AvenirNextLTPro-Demi.ttf") format("truetype"),
    url("./fonts/AvenirNextLTPro-Demi.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
