@import "../../assets/scss/mixins";

.ourProductBlock {
  margin: 120px 275px 240px 335px;
  // margin: 120px auto 240px auto;
  display: flex;
  justify-content: center;
  gap: 85px;

  .photoBlock {
    position: relative;
    border-radius: 18px;

    .cornerProfile {
      position: absolute;
      top: 340px;
      left: -80px;
    }
  }

  .info {
    max-width: 585px;

    h2 {
      margin: 0;
      font-size: 25px;
      line-height: 39px;
      color: #424242;
    }

    h3 {
      margin: 0;
      font-family: "Georgia";
      font-weight: bold;
      font-size: 50px;
      line-height: 79px;
      color: #01996d;
    }

    p {
      max-width: 520px;
      margin: 0;
      font-size: 20px;
      line-height: 31px;
      color: #484848;
    }

    button {
      @include greenButton;
      margin-top: 40px;
    }
  }
}
