@import "../../assets/scss/mixins";

.footer {
  background-color: #245852;
  padding: 95px 275px 85px 275px;

  h2 {
    font-size: 40px;
    line-height: 55px;
    color: #fff;
    margin: 0;
    padding-bottom: 60px;
  }

  nav {
    ul {
      padding: 0;
    }

    li {
      list-style: none;
      margin: 0;
      padding-bottom: 60px;
    }

    button {
      @include transparentButton;
      font-size: 25px;
      line-height: 30px;
      color: #fff;
    }
  }
}
